<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.friends.fitfriend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".SwipeActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".ViewprofileActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".FriendlistActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".TestActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
        <activity android:name=".FacebookRegActivity"></activity>
    </application>

</manifest>